.header {
  height: 3.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  border-bottom: 3px solid #cccfd1;
}

.headerNav {
  width: 20%;
}

.headerNav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.headerNav ul li {
  white-space: nowrap;
  margin: 0 2rem;
}